.header{
    grid-area: h;
    background-color: rgb(26, 153, 26);
  }
  
  .header img{
    width: 80px;
    height: 80px;
  }

  .loginBlock{
    float: right;
    margin-right: 10px;
  }

  .loginBlock a {
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    vertical-align: middle;
    line-height: 3;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}

  .loginBlock a:hover {
    color: black;
  }
