.heading{
    color: rgb(24, 42, 90);
}

.friendsList{
    padding: 0;
    list-style: none;
}

.friendsList li{
    display: flex;
    justify-content: space-between;
}

.friendsList img {
    margin-bottom: 15px;
    border-radius: 50%;
    width:60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}